/* style.css            */
/* GifTastic: GIPHY API */
/* 30/Mar/2019          */

body {
    background-image:   url("../images/subtle_grunge.png");
    background-repeat:  repeat;
}


/* - - - -  class  - - - - - */


/* - - - -  id  - - - - - */
#topHeader {
    background-image:   url("../images/9df6225a21c868dce50773deb68b600c.jpg");
    text-align:         center;
    font-family:        'Gloria Hallelujah', cursive;
    margin:             0;
}

#row1 {
	background:         #ccffff; 
	width:              100%;
}


/* - - -  Media Queries  - - - */
@media only screen and (max-width: 980px) { 
    h1 {
        font-size:      40px;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size:      30px;
    }
}

@media only screen and (max-width: 640px) {
    h1 {
        font-size:      20px;
    }
}